.login__container {
  display: flex;
  flex-direction: column;
  text-align: center fixed;
  
    color: rgb(190, 190, 190);
    width: 20vw;
    height: 30vh;
    margin-top: 15vh;;
    margin-left: 40%;
  align-items: center;
    place-items: center;
    background-color:rgba(49, 49, 54, 0.993);
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;
    place-content: center;
    display: flex;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
  align-items: center;
    place-content: center;
    display: flex;
}
h2{
    align-items: center;
    place-content: center;
    display: flex;
}
