
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.postItBoard {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.postIt {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 164);
    color: black;
    height: 15em;
    width: 11em;
    padding: 5px;
    margin: 15px;
    border:rgb(18, 19, 16) 2px solid;
    box-shadow: 5px 5px 5px rgba(45, 45, 45, 0.6);
    transform: rotate(-3deg);
    
}

.postIt:nth-child(odd) {
    transform: rotate(2deg);
    position: relative;
    top: 2px;
}

.postIt:hover {
    transform: scale(1.5);
    position: relative;
    z-index: 2;

}

.name {
    display: flex;
    flex-direction: wrap;
    font-size: medium;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    /* font-family: 'Poppins', sans-serif; */
    color: black;
}

.postItNotes, Box {
    display: flex;
    flex-shrink: inherit;
    flex-basis: auto;
    font-size: small;
    /* font-family: 'Poppins', sans-serif; */
    
    font-family:'Courier New', Courier, monospace;
    color: black;
    margin: 0 auto;
   
   
}

a, Box {
    text-decoration: none;
    color: rgb(18, 19, 16);
    display: flex;
    flex-direction: wrap;
    flex-shrink:initial;
    margin: 0 auto;
}
header1{
    color: white;
    text-align: center;
    place-content: center;
    background-color:rgba(49, 49, 54, 0.993);
    height: 5vh;
    align-items: center;
    opacity: 90%;
    
}
.name{
    color: rgb(190, 190, 190);
}
h4{
    place-content: center;
    text-align: center;
    color: Black;
}
box{
    text-decoration: none;
    color: rgb(18, 19, 16);
    display: flex;
    flex-direction: wrap;
    flex-shrink:initial;
    margin: 0 auto;
}

